#AppBar {
  background-color: white;
  box-shadow: none;
  display: flex;
  align-items: center;
}

.menuButtons {
  color: var(--blue-color);
  font-family: var(--secondary-font);
  font-weight: 600;
  letter-spacing: 3px;
  display: flex;
  padding-top: 2rem;
  gap: 2rem;
  margin: 0 auto;
  cursor: pointer;
  transition: color 0.3s ease;
}

h3:hover {
  color: var(--tale-color);
}

img {
  max-width: 90vw;
  height: auto;
}
