.welcome {
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .welcome{
    margin-top: 35rem;
  }
}

.welcome-header {
  background-color: var(--orange-color);
}

.welcome-message {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.intro-message {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

@keyframes vibrate {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(5px);
    }
  }
  
  .vibrating {
    animation: vibrate 0.3s ease infinite;
  }
  