* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --beige-color: #f8f4ec;
  --black-color: #2d2741;
  --blue-color: #065ffc;
  --green-color: #33cc66;
  --lime-color: #cee12f;
  --magenta-color: #fb3e93;
  --neon-color: #dce52c;
  --orange-color: #fc6e11;
  --pink-color: #e843e5;
  --purple-color: #6143df;
  --strong-blue-color: #1a69de;
  --tale-color: #53c4cc;
  --yellow-color: #ffe236;
  --primary-font: "Montserrat Alternates", sans-serif;
  --secondary-font: "Roboto Mono", monospace;
}

body {
  background-color: #53c4cc;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 420px) {
  /* DesktopUI */
  .icon {
    width: 3rem;
    height: auto;
  }
  /* Footer */
  .footer-container {
    padding: 0.25rem;
  }
  .start-icon {
    width: 2rem;
  }
  .wifi-logo {
    width: 1.5rem;
  }

  /* Projects */
  .projects-list {
    padding: 1rem;
    gap: 1rem;
  }
  .folder-icon {
    width: 3rem;
    height: auto;
  }

  /* Skills */
  .skills-chip-list {
    padding: 0.5rem;
  }
  .skills-list {
    padding: 1rem;
    gap: 0.5rem;
  }
  .chip-list {
    padding: 0.5rem;
  }
}

@media (max-width: 720px) {
  /* DesktopUI */
  .icon {
    width: 5rem;
    height: auto;
  }

  /* Projects */
  .folder-icon {
    width: 5rem;
    height: auto;
  }

  /* ProjectPopup */
  .project-popup-image {
    max-width: 60%;
    margin: 1rem auto;
  }

  /* Skills */
  .skills-list {
    padding: 1.5rem;
    gap: 1rem;
  }
  .chip-list {
    padding: 0.5rem;
  }
}

@media (max-width: 800px) {
  /* DesktopUI */
  .content-container {
    position: sticky;
    bottom: 0;
  }
}

@media (min-width: 800px) {
  /* SkillsPopup */
  .skills-chip-list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  /* DesktopUI */
  .content-container {
    position: sticky;
    bottom: 0;
  }
}

@media (min-width: 1024px) {
  /* ProjectPopup */
  .project-popup-container {
    max-width: 50%;
  }

  .project-popup-divider {
    margin-bottom: 2rem !important;
  }
  .skills-chip-list {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 2560px) {
  .icon-list {
    grid-row-gap: 5rem;
  }
}
