* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #065ffc;
  --magenta-color: #fb3e93;
  --green-color: #33cc66;
  --yellow-color: #ffe236;
  --primary-font: "Montserrat Alternates", sans-serif;
  --secondary-font: "Roboto Mono", monospace;
}
