* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #065ffc;
  --magenta-color: #fb3e93;
  --green-color: #33cc66;
  --yellow-color: #ffe236;
  --tale-color: #53c4cc;
  --beige-color: #f8f4ec;
  --orange-color: #fc6e11;
  --neon-color: #dce52c;
  --primary-font: "Montserrat Alternates", sans-serif;
  --secondary-font: "Roboto Mono", monospace;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 420px) {
  /* DesktopUI */
  .icon {
    width: 3rem;
    height: auto;
  }
  /* Footer */
  .footer-container {
    padding: 0.25rem;
  }
  .start-icon {
    width: 2rem;
  }
  .wifi-logo {
    width: 1.5rem;
  }

  /* Projects */
  .projects-list {
    padding: 1rem;
    gap: 1rem;
  }
  .folder-icon {
    width: 3rem;
    height: auto;
  }

  /* Skills */
  .skills-chip-list {
    padding: 0.5rem;
  }
  .skills-list {
    padding: 1rem;
    gap: 0.5rem;
  }
  .chip-list {
    padding: 0.5rem;
  }
}

@media (max-width: 720px) {
  /* DesktopUI */
  .icon {
    width: 5rem;
    height: auto;
  }
  .content-container {
    position: sticky;
    bottom: 0;
  }

  /* Projects */
  .folder-icon {
    width: 5rem;
    height: auto;
  }

  /* Skills */
  .skills-list {
    padding: 1.5rem;
    gap: 1rem;
  }
  .chip-list {
    padding: 0.5rem;
  }
}

@media (max-width: 1700px) {
  /* DesktopUI */
  .content-container {
    position: sticky;
    bottom: 0;
  }
}

@media (min-width: 2560px) {
  .icon-list {
    grid-row-gap: 5rem;
  }
}
