.project-popup-container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 3px solid;
  max-width: 90vw;
  max-height: 80vh;
  margin: auto;
  cursor: default;
}

.project-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-popup-image {
  max-width: 95%;
  margin: 1rem auto;
}

.project-popup-content {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.skills-chip-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.projects-footer {
  display: flex;
  justify-content: space-between;
}

