.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
}

.readme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  max-height: 500px;
  overflow: auto;
  z-index: 1001;
}

.readme-text {
  padding: 1rem;
  text-align: justify;
}

.popup {
  cursor: pointer;
  background-color: #fff;
  margin: 2rem;
  border: 2px solid black;
  box-shadow: 6px 6px #989898, 12px 12px #6c6666;
  font-family: var(--primary-font);
  max-width: 300px;
  max-height: 400px;
  overflow: auto;
}

.popup-image-container img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.popup-header {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  text-align: center;
}

.close-button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
  border-left: 2px solid black;
  padding: 0.5rem;
}

.close-button:hover {
  background-color: black;
  color: #fff;
}

.close-all {
  padding: 0.5rem;
  font-size: 1rem;
  position: fixed;
  top: 15rem;
  right: 1rem;
  transition: transform 0.3s ease;
}

.popup.close-all:hover {
  transform: translateY(-10px);
}
